<div class="posts-box main-content">
    <div class="posts-header">
        <ul class="action-buttons clearfix fr">
            <li><%#= link_to "new page", new_blogr_admin_page_path, :class => "button button-gray"%></li>
            <li><%= link_to "Back", blogr_admin_pages_path, :class => "button button-gray"%></li>
        </ul>
        <h2>Edit page</h2>
    </div>
    <div class="posts-box-content">
        <div class="form">
            <%= form_for( @page, :url => blogr_admin_page_path(:id => @page.id), :html => { :method => "put" }) do |f|%>
                <%= render "blogr/shared/error_messages", :object => @page %>
                <table>
                    <tr>
                        <td><%= f.label :menu_item%></td>
                        <td><%= f.text_field :menu_item%></td>
                    </tr>
                    <tr>
                        <td><%= f.label :title%></td>
                        <td><%= f.text_field :title%></td>
                    </tr>
                    <tr>
                        <td><%= f.label :body%></td>
                        <td><%= f.text_area :body, :class => "editor"%></td>
                    </tr>
                    <tr>
                        <td><%= f.label :has_inquire %></td>
                        <td><%= f.check_box :has_inquire%></td>
                    </tr>
                    <tr>
                        <td><%= f.submit "create page", :class => "button button-green" %></td>
                    </tr>
                </table>
            <% end %>
        </div>
    </div>
</div>