<h1><%= @post.title%></h1>
<p>
    <%= raw @post.body %>
</p>
<div id="comments">
    <h2>Comments</h2>
    <% if @comments.any?%>
        <p><%= @post.comments_count %> <%= @post.comments_count > 1 ? "comments" : "comment"%></p>
        <% @comments.each do |comment|%>
            <div class="comment <%= cycle("odd","even")%>">
                <strong><%= comment.name%></strong>
                <h3><%= comment.title%></h3>
                <p><%= comment.body%></p>
            </div>
        <% end %>
    <% else %>
        <strong>Be the first one to comment!</strong>
    <% end %>
</div>
<%= render "blogr/comments/form"%>